.etl-pipeline/
.idea/
.pytest_cache/

.logs_queue/
.nux/
.telemetry/
history/
logs/
dagster_home/schedules/

dataset/

.mypy_cache/
__pycache__/

minio/
mysql/
postgresql/
venv/

.env/
data/
.streamlit/

.env.spark_master
.env.spark_worker
.env