dagster==1.7.3
dagit==1.7.3
pandas==2.2.2
polars==0.20.23
pyarrow==16.0.0
minio==7.2.7
pymysql==1.1.0
cryptography==42.0.5
psycopg2-binary==2.9.9
dagster-postgres
google-api-python-client==2.127.0
pyspark==3.4.3
dbt-postgres==1.7.13
dagster-dbt==0.23.3
dagster-spark==0.23.3